@keyframes blinking {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes scrolling {
    0% {
        opacity: 1;
        top: 10%;
    }

    100% {
        opacity: 0;
        top: 60%;
    }
}