*:focus {
    outline: none;
    border: 3px solid $cyan;
}

::selection {
    background: $cyan;
}

body {
    background-color: $white;
}

ul,
li,
a,
input {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
    border: 2px solid blue;
}

section {
    padding: 150px 0;
}

button {
    border: none;
    font-family: $bodyFont;

    &:hover {
        cursor: pointer;
    }
}

.redButton {
    @include buttonStyle($red, $white, transparent);

    &:hover {
        color: $red;
        background-color: transparent;
        border: 2px solid $red;
    }
}

.cyanButton {
    @include buttonStyle($cyan, $black, transparent);

    &:hover {
        color: $cyan;
        background-color: transparent;
        border: 2px solid $cyan;
    }
}

.cyanButtonOutline {
    @include buttonStyle (transparent, $cyan, $cyan);

    &:hover {
        color: $black;
        background-color: $cyan;
        border: 2px solid transparent;
    }
}

