html {
    scroll-behavior: smooth;
}

body {
    background-color: $white;
}

ul,
li,
a,
input {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    display: block;
}

video {
    width: 100%;
    display: block;
}

.wrapper {
    max-width: 1250px;
    width: 90%;
    margin: 0 auto;
}

section {
    padding: 100px 0;
}

button {
    border: none;
    font-family: $bodyFont;

    &:hover {
        cursor: pointer;
    }
}

.redButton {
    @include buttonStyle($red, $white, transparent);

    &:hover {
        color: $red;
        background-color: transparent;
        border: 2px solid $red;
    }
}

.cyanButton {
    @include buttonStyle($cyan, $black, transparent);

    &:hover {
        color: $white;
        background-color: $red;
        border: 2px solid $red;
    }
}

.cyanButtonOutline {
    @include buttonStyle (transparent, $cyan, $cyan);

    &:hover {
        color: $red;
        background-color: transparent;
        border: 2px solid $red;
    }
}

.blackButtonOutline {
    @include buttonStyle (transparent, $black, $black);

    &:hover {
        color: $cyan;
        background-color: transparent;
        border: 2px solid $cyan;
    }
}

.sendSuccess {
    @include buttonStyle(#05d671, $white, #05d671);

    &:hover {
        cursor: wait;
    }
}

.sendFail {
    @include buttonStyle(#ec1e24, $white, #ec1e24);

    &:hover {
        cursor: wait;
    }
}
