footer {
    padding-top: 50px;
    position: relative;

    &::before {
        position: absolute;
        top: 0;
        content: '';
        display: block;
        transform: scaleX(-1);
        background-repeat: no-repeat;
        width: 100%;
        height: 150px;
        background-size: 100% 150px;
        background-image: url(../images/slant.svg);
    }

    .wrapper {
        @include flexCol;
        align-items: center;
    }

    h4 {
        color: $white;
        margin-bottom: 20px;

        a {
            color: $cyan;
            transition: color 0.4s ease-in-out;

            &:hover {
                color: $red;
            }
        }
    }
}

.footerContainer {
    @include flexRow;
    justify-content: space-between;
    width: 70%;
}

.contactTextContainer {
    @include flexCol;
    align-items: flex-end;
    width: 30%;
    text-align: right;
}



.footerLinks {
    gap: 10px;
    justify-content: flex-end;
    margin: 0;
    width: 100%;

    li {
        flex-direction: row;
        width: 40px;
    }

    i {
        width: 40px;
        height: 40px;
        font-size: 0.8rem;
        margin-bottom: 0;
        transition: background-color 0.4s;
        
        &:hover {
            background-color: $gray;
        }
    }
    
}

form {
    width: 65%;
    @include flexCol;
    align-items: flex-start;

    input,
    textarea {
        width: 100%;
        margin-bottom: 20px;
        border: none;
        padding: 10px 15px;
        border-bottom: 5px solid $gray;
        font-family: $bodyFont;
    }

    div {
        margin-bottom: 20px;
    }
}

.copyright,
.beamMeUp {
    font-size: 0.8rem;
    text-align: center;
    color: $gray;
    padding: 5px 0;
}

.beamMeUp {
    font-weight: 700;
    color: $cyan;
    margin: 0;
    padding: 0;
}
