header {  
    background-image: url('../images/blob-bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .wrapper {
        @include flexRow;
        justify-content: center;
        align-items: center;
    }
}

.headerTextContainer {
    border: 2px solid red;
}

.socialLinks {
    @include flexRow;
    align-items: center;
    
    li {
        margin-right: 20px;
    }
}