header {  
    background-image: url('../images/blob-bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;

    .wrapper {
        @include flexRow;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 150px 0;
    }
}

.headerTextContainer {
    width: 70%;
    @include flexCol;
    align-items: center;
}

.socialLinks {
    position: absolute;
    bottom: 0;
    right: 0;
    

    i {
        color: $gray;
        text-align: right;
        transition: color 0.4s;

        &:hover {
            color: $cyan;
        }
    }

    li {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.CTALinks {
    margin-top: 50px;
    @include flexRow;
    
    button {
        margin-left: 20px;
    }
}

