//1000, 800, 500, min 320px

@media (max-width: 1000px) {
    //HEADER SECTION
    header::after {
        height: 150px;
        background-size: 100% 150px;
    }

    //ABOUT SECTION
    .aboutContent {
        padding: 20px 0;
    }
    
    .aboutTextContainer {
        width: 100%;
    }

    .about {
        padding: 50px 0 0 0;
    }

    //SKILLS SECTION
    .skills ul {
        width: 100%;
    }

    //FOOTER
    .footerContainer {
        flex-direction: column;
    }

    .contactTextContainer {
        align-items: center;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .footerLinks {
        justify-content: center;
    }

    form {
        width: 100%;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .about,
    .skills,
    .projects {
        .wrapper {
            @include flexCol;
            align-items: center;
        }
    }

    //NAV SECTION
    .mobileMenu {
        display: block;
    }

    .navLinks {
        font-size: 1.5rem;
        color: $cyan;
        flex-direction: column;
        align-items: flex-start;
        background-image: url(../images/background-pattern.jpg);
        position: fixed;
        right: -1000px;
        top: 0;
        width: 100%;
        max-width: 450px;
        height: 100vh;
        padding: 120px 50px;
        box-shadow: -5px 0 5px rgba($color: $white, $alpha: 0.05);
        transition: right 0.7s ease-in-out;

        li {
            margin-bottom: 20px;
            
            &:hover { 
                color: $red;     
            }
        }

        a {
            display: inline-block;
            padding: 10px;
        }

        .specialNav {
            color: $cyan;
            background-color: transparent;
            padding: 0;
            border: none;

            &:hover {
                color: $red;
                border: none;
                padding: 0;
            }
        }
    }

    .showMenu {
        right: 0;
    }


    //HEADER SECTION
    header::after {
        height: 100px;
        background-size: 100% 100px;
    }

    //ABOUT SECTION
    .aboutTextContainer {
        flex-direction: column;

        h4 {
            text-align: center;
            width: 100%;
            margin-bottom: 20px;
        }

        p {
            width: 100%;
        }
    }

    //SKILLS SECTION
    .skills ul i {
        font-size: 1.5rem;
        width: 50px;
        height: 50px;
    }

    //PROJECT SECTION
    .workItem {
        flex-direction: column;

        &:nth-child(odd) {
            flex-direction: column;
            text-align: left;
        }

        .projectImgContainer,
        .projectTextContainer {
            width: 100%;
        }
    }
}

@media (max-width: 700px) {
    //HEADER SECTION
    header {
        height: 100vh;
        background-image: url('../images/blob-bg-mobile.svg');
    }

    .CTALinks {
        flex-direction: column;

        a:first-child {
            margin-bottom: 10px;
        }

        button {
            margin-left: 0;
        }
    }
}

@media (max-width: 500px) {
    h2 {
        margin-bottom: 20px;
    }

    .wrapper {
        width: 95%;
    }

    //slated bgs
    .skills::before,
    .skills::after,
    footer::before {
        height: 100px;
        background-size: 100% 100px;
    }

    //NAV SECTION
    .navBar {
        padding-left: 10px;
        padding-right: 10px;
    }

    //SKILLS SECTION
    .skills ul {
        width: 100%;
        gap: 20px;

        i {
            font-size: 1.1rem;
            width: 40px;
            height: 40px;

        }
    }

    //PROJECT SECTION
    .projectLinks {
        display: flex;
        flex-direction: column;
    }

    .workItem a{
        text-align: center;

        &:last-child {
            margin-left: 0;
            margin-top: 10px;
        }
    }

    //FOOTER SECTION
    .footerContainer {
        width: 100%;
    }
}