//1000, 800, 500, min 320px

@media (max-width: 1000px) {
    //HEADER SECTION
    header::after {
        height: 150px;
        background-size: 100% 150px;
    }

    //ABOUT SECTION
    .aboutTextContainer {
        width: 90%;
    }

    .about {
        padding: 50px 0 0 0;
    }

    //FOOTER
    .footerContainer {
        flex-direction: column;
    }

    .contactTextContainer {
        align-items: center;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .footerLinks {
        justify-content: center;
    }

    form {
        width: 100%;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .about,
    .skills,
    .projects {
        .wrapper {
            @include flexCol;
            align-items: center;
        }
    }

    //HEADER SECTION
    header::after {
        height: 100px;
        background-size: 100% 100px;
    }

    //ABOUT SECTION
    .aboutTextContainer {
        width: 100%;
        flex-direction: column;

        h4 {
            text-align: center;
            width: 100%;
            margin-bottom: 20px;
        }

        p {
            width: 100%;
        }
    }

    //PROJECT SECTION
    .workItem {
        flex-direction: column;

        &:nth-child(odd) {
            flex-direction: column;
            text-align: left;
        }

        .projectImgContainer,
        .projectTextContainer {
            width: 65%;
        }
    }
}