@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin flexCol {
    display: flex;
    flex-direction: column;
}

@mixin buttonStyle ($bgColor, $color) {
    display: inline-block;
    background-color: $bgColor;
    color: $color;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid transparent;
    transition: background-color 0.4s, color 0.4s, border 0.4s;
}