//skip link
.skipLink {
    position: absolute;
    left: -1000px;
    top: 5px;
    background-color: $black;
    color: $cyan;
    z-index: 10000;

    &:focus {
        left: 0;
    }
}

.mobileMenu {
    z-index: 9000;
    display: none;
}

.navBar {
    z-index: 1000;
    background-color: transparent;
    padding: 15px 0;
    padding-top: 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: background-color 0.7s ease-in-out, padding-top 0.7s ease-in-out;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.scrolled {
    background-color: $black;
    padding-top: 15px;
}

.navLinks {
    font-size: 1.2rem;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    @include flexRow;
    align-items: center;
    
    li {
        margin-left: 30px;
        transition: color 0.4s;
        
        &:first-child {
            margin-left: none;
        }

        &:hover {
            color: $cyan;
        }
    }

    .specialNav {
        color: $black;
        background-color: $cyan;
        padding: 3px 15px;
        border-radius: 5px;
        border: 2px solid transparent;
        transition: background-color 0.4s, color 0.4s, border 0.4s;

        &:hover {
            color: $cyan;
            background-color: transparent;
            border: 2px solid $cyan;
        }
    }

}

.logoImgContainer {
    width: 2rem;
}

//mobile nav
.mobileMenu {
    position: relative;
    width: 40px;
    height: 35px;
    cursor: pointer;
}

.topBun,
.meat,
.bottomBun {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background-color: $white;
    position: absolute;
}

.topBun {
    top: 0;
    transform-origin: left top;
    transform: rotateZ(0deg);
    transition: transform 0.5s ease-in-out, transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.meat {
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.5s ease-in-out;
}

.bottomBun {
    bottom: 0;
    transform-origin: left bottom;
    transform: rotateZ(0deg);
    transition: transform 0.5s ease-in-out, transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.topBunClosed {
    transform: rotateZ(45deg);
    width: 111%;
    background-color: $red;
}

.meatClosed {
    opacity: 0;
}

.bottomBunClosed {
    transform: rotateZ(-45deg);
    width: 111%;
    background-color: $red;
}