.projects {
    padding-top: 0;
}

.workItem {
    @include flexRow;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0;
    }

    &:nth-child(odd) {
        flex-direction: row-reverse;
        text-align: right;
    }

    .projectImgContainer,
    .projectTextContainer {
        width: 49%;
    }

    .projectImgContainer {
        transition: scale 0.4s ease-in-out;

        &:hover {
            scale: 1.03;
        }
    }

    .projectTextContainer {
        h3 {
            display: block;
        }

        .projectTools {
            margin: 0;
            display: inline-block;
            background-color: $gray;
            
        }

        p {
            margin: 20px 0;
        }
    }

    a:last-child {
        margin-left: 10px;
    }
}



