//open sans: 400/700
//ubuntu: 700

html {
    font-size: 125%;
}

body {
    font-family: $bodyFont;
    font-weight: 400;
    color: $black;
    margin: 0;
}

h1, h2, h3, h4 {
    display: inline-block;
    font-family: $headerFont;
    font-weight: 700;
    color: $black;
    margin: 0;
}

h1, .h1 {
    font-family: $headerFont;
    text-align: center;
    color: $white;
    font-size: clamp(1.75rem, 1.3rem + 2.25vw, 4rem);
}

h2 {
    font-size: clamp(1.55rem, 1.31rem + 1.2vw, 2.75rem);
    position: relative;
    margin-bottom: 50px;

    &::after {
        @include highlight($cyan);
    }
}

h3 {
    font-size: clamp(1.2rem, 1.04rem + 0.8vw, 2rem);
}

h4,
.navLinks {
    font-size: clamp(1.15rem, 1.14rem + 0.05vw, 1.2rem);
}

p {
    font-size: 1rem;
    margin: 0;
}