//open sans: 400/700
//ubuntu: 700

html {
    font-size: 125%;
}

body {
    font-family: $bodyFont;
    font-weight: 400;
    color: $black;
    margin: 0;
}

h1, h2, h3, h4 {
    display: inline-block;
    font-family: $headerFont;
    font-weight: 700;
    color: $black;
    margin: 0;
}

h1 {
    text-align: center;
    color: $white;
    font-size: 4rem;
}

h2 {
    font-size: 2.75rem;
    position: relative;
    margin-bottom: 50px;

    &::after {
        @include highlight($cyan);
    }
}

h3 {
    font-size: 2rem;
}

h4,
.navLinks {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
    margin: 0;
}