html {
    font-size: 125%;
}

body {
    font-family: $bodyFont;
    font-weight: 400;
    color: $black;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: $headingFont;
    font-weight: 700;
    color: $primary;
    margin: 0;
}

h1 {
    font-size: clamp(1.913rem, calc(12px + 2.475vw), 2.587rem);
}

h2 {
    font-size: clamp(1.575rem, calc(12px + 1.800vw), 2.025rem);
}

h3 {
    font-size: clamp(1.282rem, calc(12px + 1.350vw), 1.688rem);
}

h4 {
    font-size: clamp(1.125rem, calc(12px + 0.900vw), 1.350rem);
}

p {
    font-size: clamp(1.035rem, calc(12px + 0.540vw), 1.125rem);
}