html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #001220;
  margin: 0;
}

h1, h2, h3, h4 {
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: #001220;
  margin: 0;
}

h1, .h1 {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: #fbfafa;
  font-size: clamp(1.75rem, 1.3rem + 2.25vw, 4rem);
}

h2 {
  font-size: clamp(1.55rem, 1.31rem + 1.2vw, 2.75rem);
  position: relative;
  margin-bottom: 50px;
}
h2::after {
  content: "";
  position: absolute;
  bottom: 15%;
  left: 0;
  z-index: -10;
  background-color: #40cae0;
  width: 100%;
  height: 50%;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

h3 {
  font-size: clamp(1.2rem, 1.04rem + 0.8vw, 2rem);
}

h4,
.navLinks {
  font-size: clamp(1.15rem, 1.14rem + 0.05vw, 1.2rem);
}

p {
  font-size: 1rem;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fbfafa;
}

ul,
li,
a,
input {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

video {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
}

section {
  padding: 100px 0;
}

button {
  border: none;
  font-family: "Open Sans", sans-serif;
}
button:hover {
  cursor: pointer;
}

.redButton {
  display: inline-block;
  background-color: #fa3c64;
  color: #fbfafa;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid transparent;
  -webkit-transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border 0.4s ease-in-out;
}
.redButton:hover {
  color: #fa3c64;
  background-color: transparent;
  border: 2px solid #fa3c64;
}

.cyanButton {
  display: inline-block;
  background-color: #40cae0;
  color: #001220;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid transparent;
  -webkit-transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border 0.4s ease-in-out;
}
.cyanButton:hover {
  color: #fbfafa;
  background-color: #fa3c64;
  border: 2px solid #fa3c64;
}

.cyanButtonOutline {
  display: inline-block;
  background-color: transparent;
  color: #40cae0;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #40cae0;
  -webkit-transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border 0.4s ease-in-out;
}
.cyanButtonOutline:hover {
  color: #fa3c64;
  background-color: transparent;
  border: 2px solid #fa3c64;
}

.blackButtonOutline {
  display: inline-block;
  background-color: transparent;
  color: #001220;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #001220;
  -webkit-transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border 0.4s ease-in-out;
}
.blackButtonOutline:hover {
  color: #40cae0;
  background-color: transparent;
  border: 2px solid #40cae0;
}

@-webkit-keyframes blinking {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes scrolling {
  0% {
    opacity: 1;
    top: 10%;
  }
  100% {
    opacity: 0;
    top: 60%;
  }
}
@keyframes scrolling {
  0% {
    opacity: 1;
    top: 10%;
  }
  100% {
    opacity: 0;
    top: 60%;
  }
}
.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  background-color: #001220;
  color: #40cae0;
  z-index: 10000;
}
.skipLink:focus {
  left: 0;
}

.mobileMenu {
  z-index: 9000;
  display: none;
}

.navBar {
  z-index: 1000;
  background-color: transparent;
  padding: 15px 0;
  padding-top: 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  -webkit-transition: background-color 0.7s ease-in-out, padding-top 0.7s ease-in-out;
  transition: background-color 0.7s ease-in-out, padding-top 0.7s ease-in-out;
}
.navBar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scrolled {
  background-color: #001220;
  padding-top: 15px;
}

.navLinks {
  font-size: 1.2rem;
  color: #fbfafa;
  text-transform: uppercase;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navLinks li {
  margin-left: 30px;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.navLinks li:first-child {
  margin-left: none;
}
.navLinks li:hover {
  color: #40cae0;
}
.navLinks .specialNav {
  color: #001220;
  background-color: #40cae0;
  padding: 3px 15px;
  border-radius: 5px;
  border: 2px solid transparent;
  -webkit-transition: background-color 0.4s, color 0.4s, border 0.4s;
  transition: background-color 0.4s, color 0.4s, border 0.4s;
}
.navLinks .specialNav:hover {
  color: #40cae0;
  background-color: transparent;
  border: 2px solid #40cae0;
}

.logoImgContainer {
  width: 2rem;
}

.mobileMenu {
  position: relative;
  width: 40px;
  height: 35px;
  cursor: pointer;
}

.topBun,
.meat,
.bottomBun {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: #fbfafa;
  position: absolute;
}

.topBun {
  top: 0;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-transition: background-color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, transform 0.5s ease-in-out, background-color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.meat {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.bottomBun {
  bottom: 0;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-transition: background-color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, transform 0.5s ease-in-out, background-color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.topBunClosed {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  width: 111%;
  background-color: #fa3c64;
}

.meatClosed {
  opacity: 0;
}

.bottomBunClosed {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  width: 111%;
  background-color: #fa3c64;
}

header {
  background-image: url("../images/blob-bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
header::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  background-size: 100% 250px;
  background-image: url(../images/arrow.svg);
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
header span {
  position: relative;
}
header span::after {
  content: "";
  background-color: #b5c8ca;
  height: 100%;
  width: 3px;
  position: absolute;
  bottom: 0;
  right: -5%;
  -webkit-animation: blinking 0.5s linear infinite alternate;
          animation: blinking 0.5s linear infinite alternate;
}

.headerTextContainer {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialLinks {
  position: absolute;
  bottom: 0;
  right: 0;
}
.socialLinks i {
  color: #b5c8ca;
  text-align: right;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.socialLinks i:hover {
  color: #40cae0;
}
.socialLinks li {
  margin-bottom: 30px;
}
.socialLinks li:last-child {
  margin-bottom: 0;
}

.CTALinks {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.CTALinks button {
  margin-left: 20px;
}

.mouse {
  width: 40px;
  height: 65px;
  border: 3px solid #b5c8ca;
  border-radius: 50px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.mouse::before {
  content: "";
  width: 5px;
  height: 10px;
  background-color: #b5c8ca;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50px;
  -webkit-animation: scrolling 1.5s ease-in-out infinite;
          animation: scrolling 1.5s ease-in-out infinite;
}

.aboutContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutImgContainer {
  margin-bottom: 20px;
}

.aboutTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aboutTextContainer h4 {
  text-align: right;
  width: 33%;
}
.aboutTextContainer p {
  width: 65%;
}
.aboutTextContainer span {
  position: relative;
  color: #fbfafa;
}
.aboutTextContainer span::after {
  content: "";
  position: absolute;
  bottom: 15%;
  left: 0;
  z-index: -10;
  background-color: #fa3c64;
  width: 100%;
  height: 50%;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  height: 100%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  bottom: 0;
}

code {
  position: relative;
}
code::after {
  content: "";
  position: absolute;
  bottom: 15%;
  left: 0;
  z-index: -10;
  background-color: #40cae0;
  width: 100%;
  height: 50%;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.skills,
footer {
  background-image: url(../images/background-pattern.jpg);
  color: #fbfafa;
}
.skills h2,
footer h2 {
  color: #fbfafa;
  position: relative;
  z-index: 10;
}
.skills h2::after,
footer h2::after {
  content: "";
  position: absolute;
  bottom: 15%;
  left: 0;
  z-index: -10;
  background-color: #fa3c64;
  width: 100%;
  height: 50%;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.skills ul,
.footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  width: 70%;
  margin: 0 auto;
}
.skills ul li,
.footerLinks li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
}
.skills ul i,
.footerLinks i {
  font-size: 1.8rem;
  background-color: #40cae0;
  color: #001220;
  width: 65px;
  height: 65px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5px;
}

.skills {
  padding: 200px 0;
  position: relative;
}
.skills::before {
  position: absolute;
  top: 0;
  content: "";
  display: block;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
  background-size: 100% 150px;
  background-image: url(../images/slant.svg);
}
.skills::after {
  position: absolute;
  bottom: 0;
  content: "";
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: block;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
  background-size: 100% 150px;
  background-image: url(../images/slant.svg);
}

.projects {
  padding-top: 0;
}

.workItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
.workItem:last-child {
  margin-bottom: 0;
}
.workItem:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}
.workItem .projectImgContainer,
.workItem .projectTextContainer {
  width: 49%;
}
.workItem .projectTextContainer h3 {
  display: block;
}
.workItem .projectTextContainer .projectTools {
  margin: 0;
  display: inline-block;
  background-color: #b5c8ca;
}
.workItem .projectTextContainer p {
  margin: 20px 0;
}
.workItem a:last-child {
  margin-left: 10px;
}

footer {
  padding-top: 50px;
  position: relative;
}
footer::before {
  position: absolute;
  top: 0;
  content: "";
  display: block;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
  background-size: 100% 150px;
  background-image: url(../images/slant.svg);
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer h4 {
  color: #fbfafa;
  margin-bottom: 20px;
}

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

.contactTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 30%;
  text-align: right;
}

.footerLinks {
  gap: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  width: 100%;
}
.footerLinks li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40px;
}
.footerLinks i {
  width: 40px;
  height: 40px;
  font-size: 0.8rem;
  margin-bottom: 0;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.footerLinks i:hover {
  background-color: #b5c8ca;
}

form {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  padding: 10px 15px;
  border-bottom: 5px solid #b5c8ca;
  font-family: "Open Sans", sans-serif;
}

.copyright {
  font-size: 0.8rem;
  text-align: center;
  color: #b5c8ca;
  padding: 5px 0;
}

@media (max-width: 1000px) {
  header::after {
    height: 150px;
    background-size: 100% 150px;
  }
  .aboutContent {
    padding: 20px 0;
  }
  .aboutTextContainer {
    width: 100%;
  }
  .about {
    padding: 50px 0 0 0;
  }
  .skills ul {
    width: 100%;
  }
  .footerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactTextContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .footerLinks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  form {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 800px) {
  .about .wrapper,
.skills .wrapper,
.projects .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobileMenu {
    display: block;
  }
  .navLinks {
    font-size: 1.5rem;
    color: #40cae0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-image: url(../images/background-pattern.jpg);
    position: fixed;
    right: -1000px;
    top: 0;
    width: 100%;
    max-width: 450px;
    height: 100vh;
    padding: 120px 50px;
    -webkit-box-shadow: -5px 0 5px rgba(251, 250, 250, 0.05);
            box-shadow: -5px 0 5px rgba(251, 250, 250, 0.05);
    -webkit-transition: right 0.7s ease-in-out;
    transition: right 0.7s ease-in-out;
  }
  .navLinks li {
    margin-bottom: 20px;
  }
  .navLinks li:hover {
    color: #fa3c64;
  }
  .navLinks a {
    display: inline-block;
    padding: 10px;
  }
  .navLinks .specialNav {
    color: #40cae0;
    background-color: transparent;
    padding: 0;
    border: none;
  }
  .navLinks .specialNav:hover {
    color: #fa3c64;
    border: none;
    padding: 0;
  }
  .showMenu {
    right: 0;
  }
  header::after {
    height: 100px;
    background-size: 100% 100px;
  }
  .aboutTextContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutTextContainer h4 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .aboutTextContainer p {
    width: 100%;
  }
  .skills ul i {
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
  }
  .workItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .workItem:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
  .workItem .projectImgContainer,
.workItem .projectTextContainer {
    width: 100%;
  }
}
@media (max-width: 700px) {
  header {
    height: 100vh;
  }
  .CTALinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .CTALinks a:first-child {
    margin-bottom: 10px;
  }
  .CTALinks button {
    margin-left: 0;
  }
}
@media (max-width: 500px) {
  h2 {
    margin-bottom: 20px;
  }
  .wrapper {
    width: 95%;
  }
  .skills::before,
.skills::after,
footer::before {
    height: 100px;
    background-size: 100% 100px;
  }
  .navBar {
    padding-left: 10px;
    padding-right: 10px;
  }
  .skills ul {
    width: 100%;
    gap: 20px;
  }
  .skills ul i {
    font-size: 1.1rem;
    width: 40px;
    height: 40px;
  }
  .projectLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .workItem a {
    text-align: center;
  }
  .workItem a:last-child {
    margin-left: 0;
    margin-top: 10px;
  }
  .footerContainer {
    width: 100%;
  }
}